@import "../../utils/variables.css";

.logo {
    font-size: 27px;
    position: relative;
    bottom: 5%;
}

.logo-period {
    font-size: 30px;
    font-family: 'Times New Roman';
    color: var(--orange, orange);
}

